@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

// Colour Palette
$bggrey: #2b2b2b;
$greysection: #f1f1f1;
$yellow: #d9de55;
$green: #80a05d;

// Text Palette
$usergrey: #8f8f8f;
$pgrey: #949494;
$linkgrey: #b1b1b1;
$footergrey: #858585;

// Fonts
$mainFont: 'Poppins', sans-serif;

// Mixins
